<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.stock.management.item.mapper.IRequestMapper">

	<!-- 입고 요청 하기 -->
	<insert id="insertRequestStockInfo">
		INSERT INTO stockRequest (type, itemCode, itemName, basicQuantity, drawingNo, detailDrawingNo, location, requesterId, requesterDept, note, requesterName, groupId) 
		VALUES(#{type}, #{itemCode}, #{itemName}, #{basicQuantity}, #{drawingNo}, #{detailDrawingNo}, #{location}, #{requesterId}, #{requesterDept}, #{note}, #{requesterName}, #{groupId});
	</insert>
	
	<!-- 위치 변경 요청 하기 -->
	<insert id="insertRequestModiLocationInfo">
		INSERT INTO locationModiRequest (itemId, itemCode, modiLocation, location, requesterId, requesterName, requesterDept, drawingNo, type, itemName, groupId, note, quantity, modiQuantity)
		VALUES(#{itemId}, #{itemCode}, #{modiLocation}, #{location}, #{requesterId}, #{requesterName}, #{requesterDept}, #{drawingNo}, #{type}, #{itemName}, #{groupId}, #{note}, #{quantity}, #{modiQuantity});
	</insert>
	
	<!-- 입고 요청 리스트 by id -->
	<select id="getRequestStockListById">
		SELECT * 
		FROM stockRequest 
		WHERE requesterId = #{requesterId};
	</select>
	
	<!-- 위치 변경 요청 리스트 by id -->
	<select id ="getRequestModiLocaListById">
		SELECT * 
		FROM locationModiRequest
		WHERE requesterId = #{requesterId}; 
	</select>
	
	<!-- 입고 요청 리스트 by 승인상태 -->
	<select id="getRequestStockListByApproval">
		SELECT * 
		FROM stockRequest
		WHERE approval = #{approval};
	</select>
	
	<!-- 위치 변경 요청 리스트 by 승인상태 -->
	<select id="getRequestModiLocaListByApproval">
		SELECT * 
		FROM locationModiRequest 
		WHERE approval = #{approval};
	</select>
	
	<!-- 입고 요청 리스트 by 승인상태 + ID -->
	<select id="getRequestStockListByApprovalId">
		SELECT * 
		FROM stockRequest
		WHERE approval = #{approval} AND requesterId = #{requesterId};
	</select>
	
	<!-- 위치 변경 요청 리스트 by 승인상태 + ID-->
	<select id="getRequestModiLocaListByApprovalId">
		SELECT * 
		FROM locationModiRequest 
		WHERE approval = #{approval} AND requesterId = #{requesterId};
	</select>
	
	<!-- 입고 요청 리스트 -->
	<select id="getRequestStockList">
		SELECT * 
		FROM stockRequest
	</select>
	
	<!-- 위치 변경 요청 리스트 -->
	<select id="getRequestModiLocaList">
		SELECT * 
		FROM locationModiRequest 
	</select>
	
	<!-- 입고 요청 승인 -->
	<update id="approvalStockRequest">
		UPDATE stockRequest 
		SET approval = 1, approvalUserName = #{approvalUserName}, approvalDate = NOW()
		WHERE no = #{requestNo};
	</update>
	
	<!-- 위치 변경 요청 승인 -->
	<update id="approvalLocationRequest">
		UPDATE locationModiRequest  
		SET approval = 1, approvalUserName = #{approvalUserName}, approvalDate = NOW()
		WHERE itemId = #{itemId};
	</update>
	
	<!-- 요청 no 로 groupId가져오기 -->
	<select id="getGroupIdByRequesterNo">
		SELECT groupId 
		FROM ${requestType}
		WHERE no = #{requesterNo};
	</select>
	
	<!-- 요청 승인 시 그룹아이디로 아이템 아이디 찾아와서 item아이디 등록 -->
	<update id="updateRequestItemId">
		UPDATE ${requestType}
		SET itemId = #{itemId} 
		WHERE groupId = #{groupId};	
	</update>
	
	<!-- 미승인건 개수세기 - 입고요청 -->
	<select id="cntUnapprovalStockRequest">
		SELECT COUNT(*) FROM stockRequest WHERE approval = 0;
	</select>
	
	<!-- 미승인건 개수세기 - 위치변경 -->
	<select id="cntUnapprovalModiLocationRequest">
		SELECT COUNT(*) FROM locationModiRequest WHERE approval = 0;
	</select>

	<!-- 미승인건 개수세기 - 구매요청 -->
	<select id="cntUnapprovalPurchaseRequest">
		SELECT COUNT(*) FROM purchaseRequest WHERE approval = 0;
	</select>

	<!--요청정보수정-->
	<update id="requestInfoUpdate">
		UPDATE locationModiRequest 
		SET ${column} = #{modiData} 
		WHERE no = #{requestId}
	</update>

	<!-- 수량 추가 요청 insert-->
	<insert id="insertPurchaseList">
	INSERT INTO purchaseRequest (
		itemId, itemCode, type, itemName, drawingNo, note, quantity,
		requestQuantity, location, 
		requesterId, requesterName, requesterDept, 
		approval, groupId, insertDate
	)
	<foreach collection="list" item="item" separator="UNION ALL">
		SELECT 
		s.no, s.itemCode, s.type, s.itemName, s.drawingNo, s.note, s.calculatedQuantity,
		#{item.requestQuantity}, s.location,
		#{item.requesterId}, #{item.requesterName}, #{item.requesterDept},
		0, #{item.groupId}, NOW()
		FROM stockInfo s
		WHERE s.no = #{item.no}
	</foreach>
	</insert>

	<!--구매요청리스트가져오기-->
	<select id="getRequestPurchaseList">
		SELECT * FROM purchaseRequest WHERE approval = #{approval};
	</select>

	<!--구매요청 - 수량 변경-->
	<update id="updateRequestPurchaseQty">
		UPDATE purchaseRequest
		SET requestQuantity = #{requestQuantity}
		WHERE no = #{no}
	</update>

	<!--수량 추가 승인-->
	<update id="approvalRequestPurchase">
		UPDATE purchaseRequest 
		SET approval = 1, approvalUserName = #{approvalUserName}, approvalDate = NOW()
		WHERE no = #{no}
	</update>

</mapper>